ul {
  list-style: none;
}

.status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.checkedIn {
  background-color: rgb(3, 185, 3);
}

.checkedOut {
  background-color: rgb(165, 24, 24);
}
